
<h2 style="margin:auto">Sign up for an account!</h2>
<form method="post" action="/signup" style="margin-left:30%">
   	<input type="text" placeholder="Full Name" name="full_name"><br> 
    <input type="text" placeholder="Email" name="email"><br>
    <input type="password" placeholder="Password" name="password_digest"></br>
    <input type="submit" value="Sign up">
</form>
</div>