<h2>Log in to your account!</h2>
<form method="post" action="/login">
    <input type=text placeholder="Email" name="email"><br>
    <input type=password placeholder="Password" name="password_digest"></br>
    <input type=submit value="Log In">
</form>